{% if services.template.isCurrentTemplate('tpl.checkout') %}
    <link rel="stylesheet" href="{{ plugin_path('Payone') }}/css/payone-amazonpay.css">

    <script type="text/javascript">
        $(document).ready(function () {

            $("li.method-list-item[data-id={{ amazonPayMopId }}]").append("<label class='provider-select-label' <div class='content' <div id='LoginWithAmazon'style='display:none'></div></div></label>");
            $("li.method-list-item[data-id={{ amazonPayMopId }}]").append("<label class='provider-select-label' <div class='content' <div id='LogoutWithAmazon' style='display:none'>Logout</div></div></label>");
            // <button type="button" name="button" id="Logout">Logout</button>
            $("li.method-list-item[data-id={{ amazonPayMopId }}]").after("<div id='walletWidgetDiv' class='walletWidgetDiv' style='display:none'></div>");
            document.getElementById("addressBookWidgetDiv").style.display = "none";


            $.get("/payment/payone/checkout/amazonPay/loginButton", function (data) {
                $("body").append(data);
            });

            document.getElementById('LogoutWithAmazon').onclick = function () {
                amazon.Login.logout();
                document.getElementById("LoginWithAmazon").style.display = "block";
                document.getElementById("LogoutWithAmazon").style.display = "none";
                document.getElementById("addressBookWidgetDiv").style.display = "none";
                document.getElementById("walletWidgetDiv").style.display = "none";

                if (document.getElementsByClassName("invoice-addresses-select")[0] !== undefined && document.getElementsByClassName("shipping-addresses-select")[0] !== undefined) {
                    document.getElementsByClassName("invoice-addresses-select")[0].style.display = 'block';
                    document.getElementsByClassName("shipping-addresses-select")[0].style.display = 'block';
                }
            };
        });
    </script>
{% endif %}
