{% block body %}

    <script type="text/javascript">

        var payment = '{{payment_method}}'
        var containerPaymentMethod = payment.replace(/_/g,'-')
        console.log(containerPaymentMethod)

        window.klarnaAsyncCallback = function () {
            Klarna.Payments.init({
                client_token: '{{ client_token }}'
            });
            console.log("Payments initialized");
            //The following method loads the payment_method_category in the container with the id of 'klarna_container'
            Klarna.Payments.load({
                container: "#klarna-"+this.containerPaymentMethod+"-container",
                payment_method_category: '{{ payment_method }}'
            }, function (res) {
                console.log("Load function called");
                console.log(res);
                if(res.show_form === true)
                {
                    console.log('valid request - continue');
                }
                if(res.show_form === false){
                    console.log('invalid request - display error');
                }
            });
        };

        function confirmCancel () {
            document.querySelector(".modal-content").style = 'display: none';
            location.reload()
        }

        $(function(){
            $("btn btn-primary").on('click', function(){
                Klarna.Payments.authorize({
                    payment_method_category: '{{ payment_method }}'
                },{
                }, function(res) {
                    console.log("Response from the authorize call:");
                    console.log(res);
                    if(res.authorization_token)
                    {

                    }
                    if( (res.show_form === false ) && (res.approved === false )){
                        console.log('Disable Klarna’s widget and pre-select another payment method');
                    }else if ( (res.show_form === true ) && (res.approved === false ) ) {
                        console.log('Disable Klarna’s widget and pre-select another payment method');
                        console.log(res.error)
                    }else if ((res.show_form === true ) && (res.approved === true )) {
                        console.log('Authorization token received. Create order and redirect customer with authorization_token: ' + res.authorization_token );
                        $.post('/payment/payone/checkout/doKlarnaAuth', {
                                authorization_token: res.authorization_token
                            },
                            function (data, status) {
                                console.log("Payment Successful\n");
                                console.log(data)
                                console.log(data.data)
                                window.location.replace(data.data.redirecturl);
                            });
                    }else{
                        console.log( 'unexpected error');
                    }
                    if(res.show_form === false){
                        console.log('invalid request - display error');
                    }
                })
            })
        })

    </script>
    <script src="https://x.klarnacdn.net/kp/lib/v1/api.js" async></script>



    <!--Klarna container-->
    <div id="klarna-pay-later-container" style="width: 500px; margin: auto;"></div>
    <div id="klarna-pay-now-container" style="width: 500px; margin: auto;"></div>
    <div id="klarna-pay-over-time-container" style="width: 500px; margin: auto;"></div>
    <div style="width: 500px; margin: auto;">
        <!--Button to trigger authorize call-->
        <div class="button-container">

            <input type="submit"  class="btn btn-primary btn-block btn-appearance"  value="Pay" id="submit"/>
            <input type="button" onclick="confirmCancel()"  class="btn btn-block"  value="Cancel" id="cancel"/>
        </div>
    </div>

{% endblock %}
