{% block body %}
    <script type="text/javascript">
        var payment = '{{payment_method}}'
        var containerPaymentMethod = payment.replace(/_/g,'-')
        console.log(containerPaymentMethod)
        window.klarnaAsyncCallback = function () {
            Klarna.Payments.init({
                client_token: '{{ client_token }}'
            });
            //The following method loads the payment_method_category in the container with the id of 'klarna_container'
            Klarna.Payments.load({
                container: "#klarna-"+this.containerPaymentMethod+"-container",
                payment_method_category: '{{ payment_method }}'
            }, function (res) {
            });
        };

        function confirmCancel () {
            document.querySelector(".modal-content").style = 'display: none';
            location.reload()
        }

        $(function(){
            $("#pay").on('click', function(){
                Klarna.Payments.authorize({
                    payment_method_category: '{{ payment_method }}'
                },{
                }, function(res) {
                    if(res.authorization_token) { }
                    if( (res.show_form === false ) && (res.approved === false )) {
                    } else if ( (res.show_form === true ) && (res.approved === false ) ) {
                    } else if ((res.show_form === true ) && (res.approved === true )) {
                        $.post('/payment/payone/checkout/doKlarnaAuth', {
                                authorization_token: res.authorization_token
                            },
                            function (data, status) {
                                window.location.replace(data.data.redirecturl);
                            });
                    }
                })
            })
        })

    </script>
    <script src="https://x.klarnacdn.net/kp/lib/v1/api.js" async></script>

    <!--Klarna container-->
    <div id="klarna-pay-later-container" style="width: 500px; margin: auto;"></div>
    <div id="klarna-pay-now-container" style="width: 500px; margin: auto;"></div>
    <div id="klarna-pay-over-time-container" style="width: 500px; margin: auto;"></div>
    <div id="klarna-direct-debit-container" style="width: 500px; margin: auto;"></div>
    <div style="width: 500px; margin: auto;">
        <!--Button to trigger authorize call-->
        <div class="button-container">

            <input type="submit"  class="btn btn-primary btn-block btn-appearance"  value="Pay" id="pay"/>
            <input type="button" onclick="confirmCancel()"  class="btn btn-block"  value="Cancel" id="cancel"/>
        </div>
    </div>
{% endblock %}
