{% block body %}
    {% set paymentId = 0 %}
    {% set paidStatus = '' %}

    {% set properties = order.properties %}
    {% for property in properties %}
        {% if property.typeId == 3 %}
            {% set paymentId = property.value %}
        {% endif %}
        {% if property.typeId == 4 %}
            {% set paidStatus = property.value %}
        {% endif %}
    {% endfor %}
    {% if (paymentId == paymentMethodId)  %}
         {% set display = "none" %}
    {% endif %}
    {% if  (paidStatus != 'fullyPaid') and (order.status < 4 )  %}
        {% set display = "block" %}
    {% else %}
        {% set display = "none" %}
    {% endif %}

    <button id="reinitPayone-{{order.id}}" class="btn btn-primary btn-appearance btn-block" onclick="reinit()"
            data-toggle="modal" data-target="#payoneModal"  style="display: {{ display }}; margin-top: 0.5rem">
        PAY
    </button>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("body").append(" " +
                "<div class=\"modal fade\" id=\"payoneModal\" data-backdrop=\"static\"> " +
                "<div class=\"modal-dialog modal-lg\" role=\"document\">"+
                "<div class=\"modal-content\">"+
                "</div>" +
                "</div>" +
                "</div>");
            $("#payoneModal").data("modal-loaded", true);
        });
        function reinit() {

          const modalMethods = ['PAYONE_PAYONE_CREDIT_CARD',
              'PAYONE_PAYONE_KLARNA_INSTALLMENTS', 'PAYONE_KLARNA_DIRECT_DEBIT', 'PAYONE_KLARNA_DIRECT_BANK',
          'PAYONE_KLARNA_DIRECT_INVOICE', 'PAYONE_PAYONE_DIRECT_DEBIT'];

          const redirectMethods = ['PAYONE_PAYONE_PAY_PAL', 'PAYONE_PAYONE_INVOICE', 'PAYONE_PAYONE_PRE_PAYMENT',
          'PAYONE_PAYONE_CACHE_ON_DELIVERY', 'PAYONE_PAYONE_SOFORT', 'PAYONE_PAYONE_RATEPAY_INSTALLMENT', 'PAYONE_PAYONE_PAYDIREKT',
          'PAYONE_PAYONE_PAYOLUTION_INSTALLMENT', 'PAYONE_PAYONE_INVOICE'];

            $.get("payment/payone/reinit/{{ order.id }}" , function (data) {

                if(modalMethods.includes(data.paymentCode)) {
                    $('#payoneModal .modal-content').html(data.data);
                }
                if(redirectMethods.includes(data.paymentCode)) {
                    window.location = data.data;
                }
            });
        }

        document.addEventListener('historyPaymentMethodChanged', function (e) {
            for (let property in e.detail.newOrder.order.properties) {
                if (e.detail.newOrder.order.properties[property].typeId === 3) {
                    if (e.detail.newOrder.order.properties[property].value === "{{ paymentMethodId }}") {
                        document.getElementById("reinitPayone-" + e.detail.oldOrder.id).style.display = "block";
                    } else {
                        document.getElementById("reinitPayone-" + e.detail.oldOrder.id).style.display = "none";
                    }
                }
            }
        });
    </script>
{% endblock %}
