{% block body %}
    <button id="reinitPayone-{{order.id}}"  onclick="reinit()" class="btn btn-primary btn-appearance btn-block">
        PAY
    </button>


    <script type="text/javascript">
        function reinit() {
            var test = {{ order.id }};

            $.get("payment/payone/reinit/{{ order.id }}" , function (data) {
                window.location = data;
            });
        }

        document.addEventListener('historyPaymentMethodChanged', function (e) {
            for (let property in e.detail.newOrder.order.properties) {
                if (e.detail.newOrder.order.properties[property].typeId === 3) {
                    if (e.detail.newOrder.order.properties[property].value === "{{ paymentMethodId }}") {
                        document.getElementById("reinitPayone-" + e.detail.oldOrder.id).style.display = "block";
                    } else {
                        document.getElementById("reinitPayPal-" + e.detail.oldOrder.id).style.display = "none";
                    }
                }
            }
        });
    </script>
{% endblock %}
